/* ============= General ============= */
.root, .label {
    -fx-background: #0f111a;
    -fx-font-family: "Calibri";
    -fx-font-size: 12pt;
    -fx-text-fill: #7fcac3;
}

.label {
    -fx-padding: 0 0 10px 0;
}

/* =============== Menu =============== */
.logo {
    -fx-max-width: 300px;
}

.logo-line {
    -fx-stroke: #4e7a76;
}

.slogan {
    -fx-font-size: 11pt;
    -fx-text-fill: #4e7a76;
    -fx-padding: 10px 0 100px 0;
}

.btn-container {
    -fx-spacing: 50;
}

.logo-container, .btn-container {
    -fx-alignment: center;
}

.menu-button {
    -fx-content-display: top;
    -fx-font-family: "Calibri";
    -fx-text-fill: #7fcac3;
    -fx-graphic-text-gap: 10px;
    -fx-background-color: none;
    -fx-cursor: hand;
}

.sliding-button {
    -fx-text-fill: #a037a7;
}

.menu-button:hover {
    -fx-text-fill: white;
}

.menu-button:pressed {
    -fx-text-fill: #48726e;
}

/* ========= Regular Chart: Toolbar ========= */
.toolbar {
    -fx-background-color: #1e272c;
    -fx-padding: 25px;
    -fx-spacing: 20;
    -fx-alignment: bottom-center;
}

.bottom-left-toolbar {
    -fx-background-color: #1e272c;
    -fx-padding: 0 0 25px 25px;
}

.bottom-right-toolbar {
    -fx-background-color: #1e272c;
    -fx-padding: 0 25px 25px 0;
}

/* ========== Regular Chart: Chart ========== */
.chart {
    -fx-padding: 20px 20px 20px 0;
    -fx-background: #323941;
}

.chart-title {
    -fx-font-size: 16pt;
}

.chart-vertical-grid-lines {
    -fx-stroke: #2A3037;
}

.chart-series-line {
    -fx-background-color: #fff;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #2a3037;
}

.chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.axis {
    -fx-tick-label-fill: #4d7b76;
}

.axis-label {
    -fx-font-size: 10pt;
    -fx-tick-label-fill: #3f4e51;
}

.axis-tick-mark {
    -fx-stroke: #333a42;
}

.axis-minor-tick-mark {
    -fx-stroke: #333a42;
}

/* ========= Regular Chart: Legend ========= */

.chart-legend {
    -fx-background-color: #1e272c;
    -fx-padding: 10px 10px 0 10px;
}

.chart-legend-item {
    -fx-font-size: 10pt;
}

/* ========== Sliding Window Chart ========== */
.window {
    -fx-fill: #fff;
    -fx-opacity: 0.2;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

/* ============= Chart: Colors ============= */
*{
    -line-0: linear-gradient(#1ef300 0%, #ceeb00 100%);
    -line-1: linear-gradient(#a800ff 0%, #ff0066 100%);
    -line-2: linear-gradient(#3780f0 0%, #1affee 100%);
    -line-3: linear-gradient(#f9ff00 0%, #ff6d00 100%);
    -line-4: linear-gradient(#ffffff 0%, #d9daeb 100%);
    -line-5: linear-gradient(#8800ff 0%, #cd00eb 100%);
    -line-6: linear-gradient(#ff6a00 0%, #eb0059 100%);
    -line-7: linear-gradient(#72ff00 0%, #00a837 100%);
}
.default-color0.chart-legend-item-symbol {-fx-background-color: -line-0;}
.default-color1.chart-legend-item-symbol {-fx-background-color: -line-1;}
.default-color2.chart-legend-item-symbol {-fx-background-color: -line-2;}
.default-color3.chart-legend-item-symbol {-fx-background-color: -line-3;}
.default-color4.chart-legend-item-symbol {-fx-background-color: -line-4;}
.default-color5.chart-legend-item-symbol {-fx-background-color: -line-5;}
.default-color6.chart-legend-item-symbol {-fx-background-color: -line-6;}
.default-color7.chart-legend-item-symbol {-fx-background-color: -line-7;}
.default-color0.chart-series-line { -fx-stroke: -line-0;  }
.default-color1.chart-series-line { -fx-stroke: -line-1; }
.default-color2.chart-series-line { -fx-stroke: -line-2; }
.default-color3.chart-series-line { -fx-stroke: -line-3; }
.default-color4.chart-series-line { -fx-stroke: -line-4; }
.default-color5.chart-series-line { -fx-stroke: -line-5; }
.default-color6.chart-series-line { -fx-stroke: -line-6; }
.default-color7.chart-series-line { -fx-stroke: -line-7; }

.chart-line-symbol {
    -fx-background-color: transparent;
}

.hover-contact-point {
    -fx-background-color: white;
}